<a href="https://colab.research.google.com/github/mohit27-maker/pwAssigment/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. What are data structures, and why are they important?

= Data Structures are a way of organizing data so that it can be accessed more efficiently depending upon the situation. they are important in puthon because of their efficiency , organization and management , memory management. Python offers a variety of built-in data structures like lists, tuples, sets, and dictionaries, each suited for different use cases.

2.  Explain the difference between mutable and immutable data types with example.

= mutable data types can be modified after they are created, while immutable data types cannot be changed after the creation
mutable data types : list , dictionary , set
immutable data types : string , tuple
list = [1,2,3]
list.append(4)
print(num)

but for immutable we can't perform any operation
tuple = (1,2,3)
tuple.append(4)
print(tuple)

3. What are the main differences between lists and tuples in Python?

= lists are mutable while tuples are immutable , in lists iteration is time consuming while in tuples its faster , lists are better for performing operations such as append,delete while in tuples are more suitable for accessing elements efficiently.

4. Describe how dictionaries store data?

= Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered,changeable and do not allow duplicates.

5. Why might you use a set instead of a list in Python?

= The main difference is that lists are ordered, meaning the order of elements is preserved and they can be accessed by their index while sets are unordered meaning they do not maintain the order of elements and automatically ensure all elements are unique.

6. What is a string in Python, and how is it different from a list?

= Strings are immutable, meaning they cannot be changed once created, while lists are mutable and can be modified as needed.

7. How do tuples ensure data integrity in Python?

= Tuples ensure data integrity through their immutability. This characteristic means that once a tuple is created, its contents cannot be changed, added to, or removed.

8. What is a hash table, and how does it relate to dictionaries in Python?

= Hash tables are a type of data structure in which the address or the index value of the data element is generated from a hash function. That makes accessing the data faster as the index value behaves as a key for the data value. In other words Hash table stores key-value pairs but the key is generated through a hashing function.

9. Can lists contain different data types in Python?

= Yes, lists in Python can contain elements of different data types. This is a key feature of Python lists, making them highly versatile.

10. Explain why strings are immutable in Python?

= Strings in Python are "immutable" which means they can not be changed after they are created.The immutability of Python string is very useful as it helps in hashing, performance optimization, safety, ease of use.

11. What advantages do dictionaries offer over lists for certain tasks?

=  Lists are linear in nature whereas dictionaries stored the data in key-value pairs.Lists can duplicate values since each values have unique index.	Dictionaries cannot contain duplicate keys but can contain duplicate values since each value has unique key.

12. Describe a scenario where using a tuple would be preferable over a list?

= when we don't want our data to be changed and prefer it to be read-only(like our details in any government document), then you should choose the tuple data type over lists.

13. How do sets handle duplicate values in Python?

= When an attempt is made to add an element that already exists within a set, the set simply ignores the addition and remains unchanged. It does not store multiple instances of the same element.

14. How does the “in” keyword work differently for lists and dictionaries?

= The key of the dictionary is a unique value as well as the set, and the execution time is about the same as for sets. On the other hand, dictionary values can be duplicated like a list. The execution time of in for values() is about the same as for lists. Key-value pairs are unique.

15. Can you modify the elements of a tuple? Explain why or why not.

= No, you cannot directly modify the elements of a tuple.Tuples are immutable, meaning their contents cannot be changed after creation.

16. What is a nested dictionary, and give an example of its use case?

= A nested dictionary in Python is a dictionary where one or more of its values are themselves dictionaries, creating a hierarchical structure.
family_children = {
  "child1" : {
    "name" : "may",
    "year" : 2003
  },
  "child2" : {
    "name" : "sam",
    "year" : 2007
  },
  "child3" : {
    "name" : "emily",
    "year" : 2014
  }
}

17. Describe the time complexity of accessing elements in a dictionary.

= Accessing elements in a dictionary typically has a time complexity of O(1) on average. This means that the time it takes to retrieve a value by its key is, on average, constant and doesn't depend on the size of the dictionary.

18. In what situations are lists preferred over dictionaries?

= when the order of elements matters, when you need to store multiple values for a single index, or when you need to perform operations like sorting or indexing based on position.

19. Why are dictionaries considered unordered, and how does that affect data    retrieval?

= dictionaries do not maintain any inherent order of the items based on when they were added and because of this we can't access the elements by indexing.

20. Explain the difference between a list and a dictionary in terms of data retrieval?

= A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

# ***PRACTICAL QUESTIONS***

In [ ]:
#Write a code to create a string with your name and print it
name = "mohit sengar"
print(type(name))

<class 'str'>

In [ ]:
#Write a code to find the length of the string "Hello World"
a = ("Hello World")
len(a)

11

In [ ]:
#Write a code to slice the first 3 characters from the string "Python Programming"
b = ("Python Programming")
print(b[0:3])

Pyt

In [ ]:
#Write a code to convert the string "hello" to uppercase.
A =("hello")
print(A.upper())

HELLO

In [ ]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple".
line = ("i like apple")
updated_line = line.replace("apple","orange")
print(updated_line)

i like orange

In [ ]:
#Write a code to create a list with numbers 1 to 5 and print it.
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
#Write a code to append the number 10 to the list [1, 2, 3, 4].
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [ ]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
num = [10, 20, 30, 40, 50]
num.reverse()
print(num)

[50, 40, 30, 20, 10]

In [ ]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple = (100,200,300)
print(tuple)

(100, 200, 300)

In [ ]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red','green','yellow','blue')
print(colors[1:])

('green', 'yellow', 'blue')

In [ ]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).
num = (10,20,5,15)
print(min(num))

5

In [ ]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog','cat','rabbit')
print(animals.index('cat'))

1

In [3]:
 #Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple","watermelon","kiwi")
if "kiwi" in fruits:
   print("yes")
else:
    print("no")

yes

In [4]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.
a = {'a','b','c'}
print(a)

<class 'set'>

In [6]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
a = {1,2,3,4,5}
a.clear()
print(a)

set()

In [7]:
#. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
a = {1,2,3,4}
a.remove(4)
print(a)

{1, 2, 3}

In [8]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a = {1,2,3}
b = {3,4,5}
c = a.union(b)
print(c)

{1, 2, 3, 4, 5}

In [10]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a = {1,2,3}
b = {2,3,4}
c = a.intersection(b)
print(c)

{2, 3}

In [11]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
employee = {"name":"aman","age":"22","city":"pune"}
print(employee)

{'name': 'aman', 'age': '22', 'city': 'pune'}

In [12]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
worker = {"name":"john","age":25}
worker.update({"contry":"USA"}) #worker["country"] = "USA"
print(worker)

{'name': 'john', 'age': 25, 'contry': 'USA'}

In [15]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
a = {"name":"Alice","age":30}
print(a["name"])

Alice

In [18]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
a = {'name': 'Bob', 'age': 22, 'city': 'New York'}
a.pop('age')
print(a)

{'name': 'Bob', 'city': 'New York'}

In [20]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
a = {'name': 'Alice', 'city': 'Paris'}
if 'city' in a:
  print("yes")
else:
    print("no")

yes

In [21]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.
list = [1,2,3,4,5]
tuple = (1,2,3,4,5)
dic = {'a':1,'b':2,'c':3,'d':4}
print(list,tuple,dic)

[1, 2, 3, 4, 5] (1, 2, 3, 4, 5) {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [27]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random

number = [random.randint(1,100)for i in range(5)]
number.sort()
print(number)

[33, 39, 60, 77, 79]

In [30]:
# Write a code to create a list with strings and print the element at the third index.
A = ['hello','how','are','you']
print(A[3])

you

In [31]:
# Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

dict3 = dict1.copy()
dict3.update(dict2)
print(dict3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [32]:
# Write a code to convert a list of strings into a set.
string_list = ['apple', 'banana', 'cherry', 'apple']
string_set = set(string_list)
print(string_set)

{'apple', 'cherry', 'banana'}